#bodyFull {
    background-image: url('../images/frontpage.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: lightgrey;
    opacity: 0.8;
    

}

#footerBack {
    background-color: lightgrey;
    opacity: 0.8;
}
#footerBooks {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: lightgrey;
    opacity: 0.8;
    padding: 3px;
    
}

#navbar-toggler {
    position: absolute;
    margin: 0 auto; 
}

h1 {
    font-family: 'Georgia'; 
    color: darkgreen; 
    text-shadow: 1px 1px whitesmoke;
}

h3 {
    text-shadow: 1px 1px darkgreen;
    font-family: 'Georgia'; 

}

#eventsTitle{
    font-family: 'Georgia'; 
    color: darkgreen; 
    text-shadow: 1px 1px #000000;
}
#centered {
position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#topMenuText {
    color: black;
    font-size: large;
    text-shadow: 1px 1px whitesmoke;
}

#topMenu {
    opacity: 0.5;
}

#leftCard{
    opacity: 0.8;
}
#topNav {
    float: right;
    text-shadow: 1px 1px darkgreen;
}
#topNavEvents {
    float: right;
}

#listMargin {
    margin: 10px;
}
a:link {
    color: azure;
}

.carousel-inner {
    height: fit-content;
}
    
#eventText {
    display: inline-block;
    width: 50%;
    
}

#cardMargin {
    margin-right: 10px;
    margin-left: 10px;
}